:root {
  --clr-dark: #020617;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #e11d48;
  --clr-indigo: #4f46e5;

  /*rose rgb(225, 29, 72)
                       */
  /*indigo 	rgb(79, 70, 229)
                       */
  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

.light-mode {
  --clr-light: #020617;
  --clr-dark: #f1f5f9;
  --clr-slate400: #1e293b;
  --clr-slate600: #1e293b;
  --clr-slate800: #1e293b;
}

body {
  font-family: "General Sans", sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

.section {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

p {
  color: var(--clr-slate400);
  font-size: var(--size-base);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__title {
  font-size: var(--size-4xl);
  color: var(--clr-rose);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

input {
  border: none;
  outline: none;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-rose);
  color: #f1f5f9;
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(225, 29, 72, 0.5), 0 6px 6px rgb(225, 29, 72, 0.5),
    0 0 100px -10px var(--clr-rose);
  transition: transform 0.3s;
  margin-right: 0.3rem;
}
input:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgb(225, 29, 72, 0.25),
    0 10px 10px rgb(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-rose);
  color: #f1f5f9;
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(225, 29, 72, 0.5), 0 6px 6px rgb(225, 29, 72, 0.5),
    0 0 100px -10px var(--clr-rose);
  transition: transform 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgb(225, 29, 72, 0.25),
    0 10px 10px rgb(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.city-name {
  font-size: var(--size-3xl);
  color: var(--clr-light);
  text-transform: capitalize;
}

h4 {
  font-size: var(--size-2xl);
}

@media (max-width: 425px) {
}
